<header class="headerPage">
  <nav class="headerPage-nav">
    <ul>
      <li>
        
      </li>
    </ul>
  </nav>
  <h1 class="headerPage-title">
    <h1 class="headerPage-title">
      <span class="title-letter">W</span>
      <span class="title-letter">e</span>
      <span class="title-letter">b</span>
      <span class="title-letter">v</span>
      <span class="title-letter">e</span>
      <span class="title-letter">n</span>
      <span class="title-letter">t</span>
      <span class="title-letter">o</span>
      <span class="title-letter">r</span>
      <span class="title-letter">y</span>
      <span> </span> <!-- Espacio -->
      <span>📝</span>
    </h1>
    
  </h1>
</header>
