<section class="sectionData">
  <header class="sectionData-header">
    <h2 class="sectionData-title">
      List Content
    </h2>
  </header>

  <table class="table">
    <thead class="table-header">
      <tr>
        <th>item</th>
        <th>date</th>
        <th>flag</th>
        <th>data</th>
        <th>Price</th>
        <th>delete</th>  
      </tr>
    </thead>
    <tbody>
      <!-- <div class="table-void" *ngIf="!dataProduct.length">
        {{dataProduct.length}}
        <span>
          ¯\_(ツ)_/¯
        </span>
        <p>Sin contenido</p>
      </div>  -->
      <tr [ngStyle]="{'background-color':d.colorList | applyTransparency: 0.4}" *ngFor="let d of dataProduct">
        <td data="Item" >{{d.item}}</td>        
        <td data="Date" >{{d.date | date}}</td>        
        <td data="Flag" >{{d.flag}}</td>        
        <td data="Data" >{{d.data}}</td>
        <td data="Price" >{{d.price | currency:'USD'}}</td>        
        <td data="Delete">
          <button class="btnDelete" title="delete item" aria-label="delete item">🗑️</button>
        </td>        
      </tr>


      <!-- <tr>
        <td data="Item :">data</td>
        <td data="Date :">data</td>
        <td data="Flag :">data</td>
        <td data="Data :">data</td>
        <td data="Ext :">data</td>
        <td data="Delete :">data</td>
      </tr> -->
    </tbody>
</table>

</section>

<!-- 
    <div class="table-subContainer">
      <div class="table-void" *ngIf="dataProduct.length">
        <span>
          ¯\_(ツ)_/¯
        </span>
        <p>Sin contenido</p>
      </div> -->
<!-- <ng-template #listData>
  <ul>
    <li>

    </li>
  </ul>
</ng-template> -->