<section class="sectionData">
  <header class="sectionData-header">
    <h2 class="sectionData-title">
    Your table
    </h2>
  </header>

  <table class="table">
    <thead class="table-header">
      <tr>
        <th>item</th>
        <th>date</th>
        <th>flag</th>
        <th>data</th>
        <th>Price</th>
        <th>delete</th>  
      </tr>
    </thead>
    <tbody >
      <app-empty-state *ngIf="!dataProduct.length"></app-empty-state>
      <tr [ngStyle]="{'background-color':d.colorList | applyTransparency: 0.4}" *ngFor="let d of dataProduct">
        <td data="Item" >{{d.item}}</td>        
        <td data="Date" >{{d.date | date}}</td>        
        <td data="Flag" >{{d.flag}}</td>        
        <td data="Data" >{{d.data}}</td>
        <td data="Price" >{{d.price | currency:'USD'}}</td>        
        <td data="Delete">
          <button class="btnDelete" title="delete item" aria-label="delete item">🗑️</button>
        </td>        
      </tr>
    </tbody>
</table>

</section>
