.boardsSection {
  display: grid;
  gap: 2rem;
  &-header {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 8rem;
    width: 80%;
    margin-inline: auto;
    &::after {
      width: 100%;
      height: .2rem;
      content: '';
      position: absolute;
      right: 0;
      background: linear-gradient(72deg, transparent, var(--colorSecondary, #25ac97));
      border-radius: var(--radius-sm);
    }
  }
}

.emptySection {
  display: grid;
  place-content: center;
  height: 28rem;
  font-size: 3rem;
}

.boardWrapper-btn {
  position: relative;
  display: flex;
  gap: .5rem;
  padding: .5rem 1rem;
  margin-inline: auto;
  font-weight: 600;
  border: solid .15rem var(--colorSecondary, #25ac97);
  background: #03030350;
  border-radius: var(--radius);
  cursor: pointer;
  letter-spacing: .1rem;
  @media screen and (min-width: 40rem) {
    left: 10%;
    margin-inline: initial;
  }

  &:hover {
    background: var(--colorSecondary, #25ac97);
  }
}

