<section class="boardsSection" *ngIf="boardGroup.length > 0; else emptySection">
  <header class="boardsSection-header">
    <h2 class="boardsSection-title">My created tables</h2>

  </header>
  <figure *ngFor="let table  of boardGroup">
      <app-content-table
        [hasSubscription]="false"
        [dataBoard]="table.boardDta"
        [titleBoard]="table.title"/>
      <button class="boardWrapper-btn"
        (click)="deleteBoard(table.id)"
        aria-label="Delete table"
        title="Delete table">
        Delete table
      </button>
  </figure>
</section>

<ng-template #emptySection>
  <div class="emptySection">
    no tables saved...
  </div>
</ng-template>
