@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.workingZone {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  &-title {
    max-width: 40rem;
    font-family: 'Anton', sans-serif;
    font-size: clamp(1.4rem, 3rem, 5vw);
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1.8;
    animation: slideLeft linear 0.3s  1,
    fadeIn linear 0.3s  1;
  }

  &-img {
    aspect-ratio: 1/1;
    max-width: 35rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
