<form class="registrationTable" (submit)="handlerSubmit($event)" [formGroup]="form">

  <label *ngFor="let input of listInput" [for]="input.name" class="registrationTable-label">
    <span class="registrationTable-title">{{input.name}}:</span>
    <input [id]="input.name" type="text" class="registrationTable-input"  [name]="input.name" [formControlName]="input.name">
  </label>

  <button class="registrationTable-btnAdd" type="submit" [disabled]="form.invalid">
    Add Item
  </button>
</form>

