<section class="sectionData">
  <header class="sectionData-header">
    <h2 class="sectionData-title">
      {{titleBoard || 'My fist board'}}
    </h2>
    <app-btn-table
      *ngIf="dataBoard.length !== 0 && hasSubscription"
      [dataBoard]="dataBoard"/>
  </header>

  <table class="table">
    <thead class="table-header">
      <tr>
        <th>item</th>
        <th>date</th>
        <th>flag</th>
        <th>data</th>
        <th>Price</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody >
      <app-empty-state *ngIf="dataBoard.length <= 0"/>

      <tr *ngFor="let row of dataBoard"
        [style]="{background:  row.color | colorTransparency: 0.5}">
        <td data="Item" [style]="{fontWeight: 600}">{{row.item}}</td>
        <td data="Date" >{{row.date }}</td>
        <td data="Flag" >{{row.flag}}</td>
        <td data="Data" >{{row.data}}</td>
        <td data="Price" >{{row.price | currency}}</td>
        <td data="Delete">
          <button class="btnDelete"
            (click)="deleteRow(row.id, idBoard)"
            title="delete item"
            aria-label="delete item"
          >🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>

</section>


