<section class="sectionData">
  <header class="sectionData-header">
    <h3 class="sectionData-title">
    Your table
    </h3>
    <app-btn-table *ngIf="dataTable.length !== 0" [dataTable]="dataTable"/>
  </header>

  <table class="table">
    <thead class="table-header">
      <tr>
        <th>item</th>
        <th>date</th>
        <th>flag</th>
        <th>data</th>
        <th>Price</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody >
      <app-empty-state *ngIf="dataTable.length <= 0"/>

      <tr *ngFor="let d of dataTable"
        [style]="{background:  d.color | colorTransparency: 0.5}">
        <td data="Item" >{{d.item}}</td>
        <td data="Date" >{{d.date }}</td>
        <td data="Flag" >{{d.flag}}</td>
        <td data="Data" >{{d.data}}</td>
        <td data="Price" >{{d.price}}</td>
        <td data="Delete">
          <button class="btnDelete" title="delete item" aria-label="delete item">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>

</section>

