:host {
  user-select: none;
}

.table-void{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 15rem;
  display: grid;
  place-items: center;
  font-size: max(2rem, 3vw);
  text-align: center;
  background-color: var(--colorPrimary, #fcfcfc2d);
  border-radius: var(--radius, .8rem);
  box-shadow: 0 .3rem 1rem 0 rgba( 31, 38, 135, 0.37 );
  transform: translate(-50%, -50%);
  p{
  font-size: max(1.2rem, 2vw);
  }
  @media (width >= 40rem) {
    box-shadow: initial;
    border-radius: initial;
    background-color: initial;
  }
}
