<form
  id="form"
  class="registrationTable"
  (submit)="getValidForm(colorRow)"
  [formGroup]="formData"
  autocomplete="off">

  <label *ngFor="let input of formInputs"
    class="registrationTable-label">
    <span class="registrationTable-title">
      {{input}} :
    </span>
    <div class="registrationTable-group">
      <input
        class="registrationTable-input"
        [id]="input"
        type="text"
        [name]="input"
        [formControlName]="input">
      <span class="registrationTable-infoIcon">&#9432;</span>

      <div [hidden]="!getStateInp(input).touched" class="wrapperMsn">
        <p [hidden]="!getStateInp(input).valid" class="wrapperMsn-msn wrapperMsn--valid">
          Format valid
        </p>
        <p [hidden]="!getStateInp(input).errors?.['required']" class="wrapperMsn-msn wrapperMsn--error">
          {{msnErrors.basic.required}}
        </p>
        <p [hidden]="!getStateInp(input).errors?.['pattern']" class="wrapperMsn-msn wrapperMsn--error">
          {{ msnErrors[input]['pattern'] }}
        </p>
      </div>
    </div>
  </label>
  <div class="registrationTable-footer">
    <app-colo-picker (colorEmitter)="getColor($event)" />
    <button
    class="registrationTable-btnAdd"
    type="submit"
    [disabled]="formData.invalid"
    aria-label="Add to Table" >
      Add Item
    </button>
  </div>
</form>
