.registrationTable{
  --radius: .8rem;
  --colorPrimary: rgba(252, 252, 252, 0.178);
  --colorSecondary: #25ac97;
  display: grid;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  color: azure;
  border-radius: var(--radius);
  background: var(--colorPrimary);
  box-shadow: 0 .3rem 1rem 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0.3rem );
  -webkit-backdrop-filter: blur( 0.3rem );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  @media (width >= 50rem) {
    max-width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    align-items: flex-start;
  }

  &-label{
    position: relative;
    display: grid;
    padding-block: 1rem;

    &:nth-last-of-type(2){
      @media (width >= 50rem) {
        grid-area: 2/2/3/4;
      }
    }
  }

  &-group{
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-title{
    text-transform: capitalize;
    font-weight: 600;
    padding-block: .2rem;
  }

  &-infoIcon{
    position: absolute;
    font-weight: 700;
    color: rgb(100, 100, 100);
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    transition: color .2s linear;
    &:hover{
      color: rgb(128, 128, 128);
    }
  }

  &-infoText{
    width: 10rem;
    top: -100%;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    padding:.3rem .5rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    z-index: 1;
  }

  &-input{
    border-radius: var(--radius);
    padding: 1rem 1.7rem 1rem 1rem ;
    width: 100%;
    border: dotted 1px var(--colorSecondary);
    background-color: #f0f8ff71;
    color: #333;
    letter-spacing: 0.1rem;
  }

  &-footer{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (width >= 50rem) {
      grid-area: 3/1/4/4;
    }
  }

  &-btnAdd{
    display: block;
    padding: 1rem 1.5rem;
    border-radius: var(--radius);
    background-color: var(--colorSecondary);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    justify-self: end;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover{
      transform: scale(0.95);
    }
    &:active{
      transform: scale(1.1);
    }
    @media (width >= 50rem) {
      grid-area: 3/1/4/4;
    }

    &:disabled{
      position: relative;
      background-color: gray;
      cursor: not-allowed;
      &::after,
      &::before {
        position: absolute;
        content: '';
        background-color: #000000;
        font-weight: 500;
        opacity: 0;
        transition: linear .1s opacity;
        pointer-events: none;
      }
      &::before {
        content: 'You must fill all the cells of the form';
        width: 10rem;
        left: 0;
        top: 0;
        padding: .3rem;
        font-size: .9rem;
        line-height: 1.5;
        transform: translateY(-6rem) translateX(-2rem);
        z-index: 1;
      }
      &::after {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 0;
        transform: rotate(45deg) translateY(-3rem);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
      &:hover{
        transform: scale(1);
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.wrapperMsn {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + .1rem));

  &-msn {
    border-radius: .5rem;
    padding-inline: .5rem;
    letter-spacing: .1rem;
  }

  &--valid {
    background-color: #25ac97;
  }

  &--error {
    background-color: #f56f6f;
  }
}
