<form
  class="registrationTable"
  (submit)="getValidForm()"
  [formGroup]="formData"
  id="form"
  autocomplete="off">

  <label *ngFor="let input of listInput | keyvalue" [for]="input.key" class="registrationTable-label">
    <span class="registrationTable-title">{{input.key}} :</span>
    <div class="registrationTable-group">
      <input
        class="registrationTable-input"
        [id]="input.key"
        type="text"
        [name]="input.key"
        [formControlName]="input.key">
      <span class="registrationTable-infoIcon">&#9432;</span>
    </div>

  </label>
  <div class="registrationTable-footer">
    <!-- colorPicker -->
    <!-- <app-color-changer (dataSubmit)="getColor($event)"/> -->

    <button
    class="registrationTable-btnAdd"
    type="submit"
    [disabled]="formData.invalid" >
      Add Item
    </button>
  </div>
</form>
