/* You can add global styles to this file, and also import other style files */
@import './assets/scss/shared.scss';

*{
  //variables
  --colorSecondary: #25ac97;
  --radius-sm: .1rem;
  --radius: .8rem;
}

body{
  position: relative;
  background: #0D0F14;
  background-image: url(../src/assets/img/svg/bg-grid.svg);
  
}
